*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER SECTION */

.main-header{
    display: inline-flexbox;
    justify-content: space-between; 
    align-items: center;
    padding: 30px 10%; 
    background: whitesmoke;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#safeTimerDisplay{
    display: inline-block;
    padding: 20px;
 
   
    
}